@import url('https://fonts.googleapis.com/css?family=Rubik|Cabin|Quicksand');
body {
	font-family: 'Rubik', sans-serif;
	margin: 0;

	background-color: #222325;
	color: #fff;
}
.wrapper {
	position: relative;
	width: 400px;
	height: 300px;

	border: 1px solid #000;

	/*background-color: #e3f7f5;*/
	/*background-color: #222325;*/
	background-color: #edefee;
}
.serious-center {
	position: absolute;

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.unselectable {
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}

.textbar {
	width: calc(100% - 28px);
	height: calc(20% - 21px);

	margin: 15px;
	margin-bottom: 7px;
}
.textbar #input {
	float: left;

	border-radius: 3px;
	width: calc(75% - 7px);
	height: 100%;
	margin: 0;
	margin-right: 7px;

	resize: none;

	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
} .textbar #input:focus {
	outline: none;i
}
.textbar .button {
	position: relative;
	float: left;

	width: calc(25% - 7px);
	height: calc(100% - 4px); /*- shadow height*/
	margin: 0;
	margin-left: 7px;

	background-color: #fff;
	color: #000;
	font-family: 'Quicksand', sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 14px;
	border: 1px solid #d6d7db;
	border-radius: 3px;
	box-shadow: 0 4px #697989;

	text-align: center;

	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

	cursor: pointer;
} .textbar .button:active {
	box-shadow: 0 2px #787878;
	-ms-transform: translateY(2px);
	-webkit-transform: translateY(2px);
	transform: translateY(2px);
}

.content {
	position: relative;

	width: 100%;
	height: 80%; /*+ textbar == 100*/
}
.instructions,
.page {
	position: absolute;
	bottom: 0;
	/*visibility: hidden;*/

	width: calc(100% - 28px);
	height: calc(100% - 21px);

	margin: 14px;
	margin-top: 7px;
} 
.tab {
	position: absolute;
	width: calc(50% - 3px);
	height: 33px;

	box-shadow: 3px 3px 10px rgba(0,0,0,0.28);

	z-index: 1;
	
	color: #f0f0f0;

	cursor: pointer;

	filter: brightness(0.7);
	-webkit-filter: brightness(0.7);
} .emotion.tab {
	left: 0;
	border-radius: 3px 3px 0 0;

	background-color: #f16065;
} .personality.tab {
	right: 0;
	border-radius: 3px 3px 0 0;

	background-color: #04c4d3;
} .page.active .tab {
	filter: none;
	-webkit-filter: none;

	cursor: default;
} .tab span {
	position: absolute;
	top: 50%;
	left: 14px;
	transform: translateY(-50%);

	font-size: 15px;
	font-family: 'Quicksand', sans-serif;
	/*font-weight: bold;*/
	text-transform: uppercase;
	letter-spacing: 1px;
}
.details {
	position: absolute;
	bottom: 0;
	z-index: 1;
	width: 100%;
	height: calc(100% - 33px); /*- tab height*/
	visibility: hidden;

	box-shadow: 3px 3px 10px rgba(0,0,0,0.28);
	border-radius: 0 0 3px 3px;

	background-color: #ffffff;
}
/* active panels */
.page.active .details {
	visibility: visible;

	z-index: 2;
}
.instructions {
	visibility: hidden;
} .instructions.active {
	visibility: visible;
}
/* bar graph */
.chart-base {
	height: 100%;
	width: 100%;
	position: relative;
	text-align: center;
}
.horizontal-line {
	stroke: #f16065;
	stroke-width: 2;
}
.emojis {
	position: absolute;
	z-index: 2;
	top: 150px;
	left: 32px;
}
.emojis * {
	height: 32px;
	width: 32px;
	padding: 0 12px 0 12px;
}
.bar-space {
  position: absolute;
  /*display: inline-block;*/
  width: 90%;
  height: 75%;
  left: 5%;
}
.bar-space * {
	width: 20%;
	padding: 0 12px 0 12px;
}
.bar {
	width: 35px;
	background-color: #000;
}
/* Personality details */
.grid-space,
.label-space,
.scale-space {
	position: relative;
}
.grid-space {
	height: calc(100% - 30px);
	width: calc(100% - 30px);

	margin: 15px;
	margin-top: 5px;
}
.label-space,
.scale-space {
	height: 20%;

	display: inline-block;
	/*outline: solid 1px black;*/
} .label-space *,
.scale-space * {
	position: absolute;
}
.label-space {
	width: 25%;
}
.scale-space {
	width: 50%;
}

.scale {
	width: 100%;
	padding-top: calc(90% * 18 / 773);

	top: 65%;
	left: 50%;
	transform: translate(-50%, -50%);
} .scale .scale-image {
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	height: 100%;

	background-image: url(../images/scale.png);
	background-size: 100% 100%;
}
.tick {
	position: absolute;
	top: 25%; left: 47.6%;

	width: 8px;
	height: 0;
	padding-top: calc(8px * 100 / 94);

	transition: left 0.3s ease;
	-webkit-transition: left 0.3s ease;
} .tick-image {
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	height: 100%;

	background-image: url(../images/tick.png);
	background-size: 100% 100%;
}

.label {
	min-width: 100%;
	padding: 6px;

	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	color: #697989;
	font-size: 12px;
    letter-spacing: 1px;

	position: absolute;

	top: 50%;
	transform: translateY(-50%);
} .label-space.left .label {
	text-align: right;
	right: 0;
} .label-space.right .label {
	text-align: left;
}