@import url('https://fonts.googleapis.com/css?family=Rubik');
body {
	font-family: 'Arial', sans-serif;
	margin: 0;
}
.wrapper {
	position: relative;
	width: 400px;
	height: 300px;

	border: 1px solid #000;

	background-color: #e3f7f5;
}
.serious-center {
	position: absolute;

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.unselectable {
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}

.textbar {
	width: calc(100% - 28px);
	height: calc(20% - 21px);

	margin: 15px;
	margin-bottom: 7px;
}
.textbar #input {
	float: left;

	border-radius: 3px;
	width: calc(75% - 7px);
	height: 100%;
	margin: 0;
	margin-right: 7px;

	resize: none;

	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.textbar .button {
	position: relative;
	float: left;

	width: calc(25% - 7px);
	height: calc(100% - 4px); /*- shadow height*/
	margin: 0;
	margin-left: 7px;

	background-color: #fff;
	border-radius: 3px;
	box-shadow: 0 4px #949494;

	text-align: center;

	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

	cursor: pointer;
} .textbar .button:active {
	box-shadow: 0 2px #787878;
	-ms-transform: translateY(2px);
	-webkit-transform: translateY(2px);
	transform: translateY(2px);
}

.content {
	position: relative;

	width: 100%;
	height: 80%; /*+ textbar == 100*/
}
.instructions,
.page {
	position: absolute;
	bottom: 0;
	/*visibility: hidden;*/

	width: calc(100% - 28px);
	height: calc(100% - 21px);

	margin: 14px;
	margin-top: 7px;
} 
.tab {
	position: absolute;
	width: calc(50% - 3px);
	height: 15%;

	/*box-shadow: 2px 2px 3px rgba(0,0,0,0.28);*/

	z-index: 1;

	cursor: pointer;
} .emotion.tab {
	left: 0;
	border-radius: 3px 3px 0 0;
} .personality.tab {
	right: 0;
	border-radius: 3px 3px 0 0;
} .page.active .tab {
	cursor: default;
}
.details {
	position: absolute;
	bottom: 0;
	z-index: 1;
	width: 100%;
	height: 85%;

	/*box-shadow: 2px 2px 3px rgba(0,0,0,0.28);*/
	border-radius: 0 0 3px 3px;
}
/* active panels */
.page * {
	background-color: #f2f2f2;
} .page.active * {
	background-color: #fff;
} .page.active .details {
	z-index: 2;
}
.instructions {
	visibility: hidden;
} .instructions.active {
	visibility: visible;
}